@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   scroll-behavior: smooth;
}

body {
   width: 100%;
   background-color: #2B0059;
   color: #fff;
}

main {
   width: 100vw;
   height: 100vh;
   padding-top: 25vh;

   .container {
      width: 80%;
      margin: 0 auto;
      
      .quote-container {
         border-radius: 5px;
         background: #2B0059;
         box-shadow:  6px 5px 8px #25004d, 
                     -6px -5px 8px #310065;
        
         padding: 20px;

         .quote {
            font-size: 16px;
            letter-spacing: 1px;

            img {
               width: 30px;
            }
         }

         .author {
            margin-top: 20px;
            text-align: end;
         }
      }

      .options {
         margin-top: 25px;
         width: 80%;
         margin: 20px auto;

         button {
            color: #fff;
            border-radius: 5px;
            background: #2B0059;
            box-shadow:  4px 9px 9px #25004d, 
                     -4px -9px 9px #310065;

            width: 100px;
            border: 0;
            outline: 0;
            padding: 10px;
         }

         .save {
            margin-left: 20px;
         }
         
         .new {
            margin-left: 5px;
         }
      }
   }
}
